body {
    padding-top: 80px; /* sesuaikan tinggi navbar */
}

.navbar-brand img {
    height: 40px;
}

.navbar-toggler {
    border: none;
    outline: none;
}

/* MOBILE MENU */
@media (max-width: 576px) {
    .your-navbar-class {
        text-align: center;
    }

    .your-navbar-class .row {
        flex-direction: column;
    }

    .your-navbar-class .col {
        width: 100%;
        margin-bottom: 15px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-link {
        padding: 10px 0;
        font-size: 16px;
    }

    .navbar-collapse {
        max-width: 100%;
        overflow: hidden;
    }
}

@media (max-width: 992px) {
    /* padding navbar */
    .navbar {
        padding: 10px 0;
    }

    /* jarak menu */
    .navbar-nav .nav-link {
        font-size: 15px;
        padding: 8px 0;
    }

    /* tombol (misal contact) */
    .navbar .btn {
        padding: 6px 12px;
        font-size: 14px;
    }
}
